body{
    background: #ddd;
}
h3{
    text-align: center;
    margin-top: 0px;
}
.jumbotron{
     /* fills out the jumbotron */
    background-color: #111;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.jumbotron h1 {
    text-align: center;
    color: #FFF;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
#banner {
    margin-left: 30px;
    height: 90px;
}
.project_name{
    text-align: center;
    color: #263666;
    font-family: Arial;
}
.main_div{
    display: flex;
    margin-left: 10px;
}
div.samples {
    width: 265px;
    height: 300px;
    overflow: auto;
    border:solid;
    border-color: #415989;
}
.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	margin:3px 0px 0px 4px;
    text-decoration:none;
    height: 30px;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
    top:1px;
}
.myButton:focus { outline: none; }
.labels{
    height: 38px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.input{
    width: 80px;
    height: 240px;
}
.sub_input{
    border: solid;
    border-color: #415989;
    width: 80px;
    height: 80px;
    margin-bottom: 2px;
}
.output{
    width: 486px;
    height: 406px;
    border: solid;
    border-color: #415989;
}