h3{
    font-family: Arial;
    margin-bottom: 0px;
}
body{
    background: lightgoldenrodyellow;
}
#banner {
    margin-left: 30px;
    height: 90px;
}
.project_name{
    text-align: center;
    color: #263666;
    font-family: Arial;
}
.main_div{
    display: flex;
}
div.samples {
    width: 400px;
    height: 300px;
    overflow: auto;
    border:solid;
    border-color: #415989;
}
.myButton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	margin:2px 4px;
    text-decoration:none;
    height: 30px;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
    top:1px;
}
.myButton:focus { outline: none; }
.labels{
    height: 70px;
    width: 40%;
    overflow: auto;
}
.input{
    width: 100px;
    height: 260px;
}
.sub_input{
    border: solid;
    border-color: #415989;
    width: 80px;
    height: 80px;
    margin-bottom: 2px;
}
.output{
    display: flex;
    width: 300px;
    height: 300px;
    border: solid;
    border-color: #415989;
}