<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> UIT Shoes Generator </title>
    <link rel="shortcut icon" href="https://tuyensinh.uit.edu.vn/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="static/scripts.js"></script>
</head>
<body>
    <img id="banner" src="https://www.uit.edu.vn/sites/vi/files/banner.png" alt="Banner">
    <h2>GENERATING SHOES DESIGNS USING GENERATIVE ADVERSARIAL NETWORKS</h2>
    <h3 style="color:blue; margin-left:20px; padding-top:20px">Slect styles: Shape, Detail, and Color</h3>
    <div style="display: flex; margin-left:20px">
        <div style="border:dashed; display:flex; background-color:gold">
            {% for i in table %}
            <div style="margin-left:15px; padding-right:17px">
                <h3>{{ i.type }}</h3>
                <div>
                    {% for j in i.sample %}
                    <div id="{{ j.name }}"
                         name="{{ j.name }}"
                         style="margin-bottom:15px; background-color:#ffffff; border:solid; border-color:white"
                         onclick="sampleClick('{{ j.name }}', {{ i }}, '{{ j.image }}')"
                         href="#">
                        <img src="{{ j.image }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div>
            <h3 style="margin-left:290px">Input style</h3>
            <div style="padding-left: 300px; width:80px; margin-bottom:100px">
                <img style="margin-top: 0px" id="inputShape" src="{{ image }}" height="69px" width="69px" id="sample">
                <img style="margin-top: 15px" id="inputDetail" src="{{ image }}" height="69px" width="69px" id="sample">
                <img style="margin-top: 15px" id="inputColor" src="{{ image }}" height="69px" width="69px" id="sample">
            </div>
        </div>
        
        <div style="margin-left:10%;">
            <h3 style="margin-left:170px">Output</h3>
            <img id="main-image" src="{{ image }}" height="400px" width="400px" id="sample">
        </div>
    </div>



    <form method="post" , id="latent_sliders">
    </form>
    <button class="button" onclick="btnRandomClick()">Random</button>
</body>
</html>
