
#banner {
    margin-left: 30px;
    height: 130px;
}

h2 {
    text-align: center;
    color: #a00707;
}

h1 {
    margin-left: 50px;
}

h3 {
    margin-left: 10px;
}

body {
    background-image: linear-gradient(pink, white);
    font-family: sans-serif;
}
