
#banner {
    margin-left: 30px;
    height: 90px;
}

h2 {
    text-align: center;
    color: #a00707;
}

h1 {
    margin-left: 50px;
}

h3 {
    margin-left: 10px;
}

body {
    /*background-image: linear-gradient(pink, white);*/
    font-family: sans-serif;
}

.myButton {
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
    text-decoration:none;
    text-align:-webkit-center;
    height: 30px;
    width:100px;
    margin-top: 13px;
    margin-left:10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}

        


        